golden_model
setup.sh
testbench.sv.bak
testbench.sv
sram.sv
input_0
sram_data
synthesis
run
rtl
project_report
Neural_Network_Convolution.xpr
Neural_Network_Convolution.sim
Neural_Network_Convolution.ip_user_files
Neural_Network_Convolution.hw
Neural_Network_Convolution.cache
/Neural_Network_Convolution.srcs/project/464
/Neural_Network_Convolution.srcs/project/564
